$base-font-size: 24px;

@mixin phone-only {
	@media (max-width: 767px) {
		@content;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-size: $base-font-size;
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
background: url(../img/photo_2021-05-31_12-03-46.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	@include phone-only {
		color: aliceblue;
		background-color: black;
	}
}

@import "block/*.scss";
