* {
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	color: #333;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
		color: aliceblue;
		background-color: black;
	}
}

@import "block/title.css";
@import "block/news.css";
